body {
    background-color: rgba(128, 0, 128, 0.541);
    color: black;
}
.heading {
    width: 80%;
    font-size: 25px;
    color: rgb(255, 0, 0);
}
 
#camera {
    border: 3px solid blue;
    width: 400px;
    height: 400px ;

}
.name_of_objects, #result_object_name, #result_object_accuracy {
    color: saddlebrown;
}

